{# Import the theme's layout. #}
{% extends "!layout.html" %}

{# Custom CSS overrides #}
{% set bootswatch_css_custom = ['_static/styles.css'] %}

{% block footer %}
<footer>
    <div class="footer_copy">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-3 col-logo text-left-lg text-left-md text-left-sm text-center-xs">
                    <span class="mira_btm">Mirantis Inc.</span> <br>
                    <span class="pureplay_btm">Pure Play OpenStack.</span>
                </div>
                <div class="col-md-4 col-sm-5 col-copy text-center">
                    <span class="copy_btm">&copy; 2005 &mdash; 2015 Mirantis, Inc.<br><span
                            style="font-size: 10px; opacity:0.6;  line-height: 0.9em; display:inline-block;margin-top:5px; ">All rights reserved. "Mirantis" and "FUEL" are are registered trademarks of Mirantis, Inc. All other trademarks are the property of their respective owners.</span></span>
                </div>
                <div class="col-md-4 col-sm-4 col-address text-right-lg text-right-md text-right-sm text-center-xs">
<span class="mira_btm">525 Almanor Ave, 4th Floor - Sunnyvale, CA 94085<br>
+1-650-963-9828</span>
                </div>
            </div>
        </div>
    </div>
</footer>
<a href="#" class="scrollup"><span class="fa fa-level-up"></span></a>
<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id={{ theme_googletag }}"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','{{ theme_googletag }}');</script>
<!-- End Google Tag Manager -->
{% endblock %}