{# Import the theme's layout. #}
{% extends "!layout.html" %}

{# Custom CSS overrides #}
{% set bootswatch_css_custom = ['_static/styles.css'] %}

{% block footer %}
<footer>
    <section class="fsprod">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <ul style="margin-bottom:0;">
                        <li><a class="fmenu_section" href="https://www.mirantis.com/products/mirantis-openstack-software/"
                               style="margin-top: 15px;">Products</a></li>
                    </ul>
                    <div class="row">
                        <div class="col-md-4 col-sm-4 col-xs-4"><a href="https://www.mirantis.com/products/mirantis-openstack-software/"
                                                                   class="fproduct">
                            <div class="footerglyph1"></div>
                            <span>Mirantis <br>OpenStack Software</span></a></div>
                        <div class="col-md-4 col-sm-4 col-xs-4"><a href="https://www.mirantis.com/products/application-catalog-murano/"
                                                                   class="fproduct">
                            <div class="footerglyph2"></div>
                            <span>Application <br>Catalog Murano</span></a></div>
                        <div class="col-md-4 col-sm-4 col-xs-4"><a href="https://www.mirantis.com/products/openstack-drivers-and-plugins/"
                                                                   class="fproduct">
                            <div class="footerglyph3"></div>
                            <span>OpenStack Drivers <br>and Plugins</span></a></div>
                    </div>
                </div>
                <hr class="hidden-lg hidden-md">
                <div class="col-md-3 col-sm-6 col-xs-6 hidden-sm hidden-xs ">
                    <ul>
                        <li><a class="fmenu_section" style="margin-top: 15px;">Solutions</a></li>
                        <li><a href="https://www.mirantis.com/solutions/dev-test/">Dev/Test</a></li>
                        <li><a href="https://www.mirantis.com/solutions/platform-as_a_service_paas/">PaaS</a></li>
                        <li><a href="https://www.mirantis.com/solutions/container-technologies/">Containers</a></li>
                        <li><a href="https://www.mirantis.com/solutions/hybrid-cloud/">Hybrid Cloud</a></li>
                        <li><a href="https://www.mirantis.com/solutions/industry-solutions/">Industry Solutions</a></li>
                    </ul>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-6">
                    <ul>
                        <li><a class="fmenu_section" style="margin-top: 15px;">Get Started</a></li>
                        <li><a href="https://www.mirantis.com/get-started">Quick Start Guide</a></li>
                        <li><a href="https://www.mirantis.com/products/mirantis-openstack-software/">Download and
                            Install</a></li>
                        <li><a href="https://www.mirantis.com/?s=mox+tutorial&amp;order=asc">Developer Tutorials</a>
                        </li>
                        <li><a href="https://www.mirantis.com/products/mirantis-openstack-software/documentation/">Documentation</a>
                        </li>
                    </ul>
                </div>
                <div class="hidden-lg hidden-md col-sm-6 col-xs-6">
                    <ul>
                        <li><a class="fmenu_section" href="https://www.mirantis.com/company/about-pure-play-openstack/"
                               style="margin-top: 15px;">Company</a></li>
                        <li><a href="https://online.mirantis.com/contact-us">Get In Touch</a></li>
                        <li><a href="https://www.mirantis.com/contact/">Locations</a></li>
                        <li><a href="https://www.mirantis.com/careers/">Careers</a></li>
                        <li><a href="https://www.mirantis.com/company/leadership/">Management</a></li>
                        <li><a href="https://www.mirantis.com/company/investors/">Investors</a></li>
                        <li><a href="https://www.mirantis.com/company/leadership/board-of-directors/">Board of Directors</a></li>
                        <li><a href="https://www.mirantis.com/company/press-center/info/">Press Center</a></li>
                    </ul>
                </div>
            </div>
            <hr class="hidden-lg hidden-md hidden-sm hidden-xs">
        </div>
    </section>
    <section class="fscomp">
        <div class="container footsm  hidden-sm hidden-xs">
            <div class="row">
                <div class="col-md-2">
                    <ul>
                        <li><a class="fmenu_section" style="font-weight:normal;font-size: 1.1em;">Services</a></li>
                        <li><a href="https://www.mirantis.com/services/managed-services/">Managed Services</a></li>
                        <li><a href="https://www.mirantis.com/services/assessment/">Assessment</a></li>
                        <li><a href="https://www.mirantis.com/services/implementation/">Implementation</a></li>
                        <li><a href="https://www.mirantis.com/services/enterprise-support-services/">Enterprise Support</a></li>
                        <li><a href="https://www.mirantis.com/services/migration-services/">Migration Services</a></li>
                        <li><a href="https://www.mirantis.com/services/drivers-upstreaming-maintenance/">Driver Development</a></li>
                    </ul>
                </div>
                <div class="col-md-2 hidden-sm">
                    <ul>
                        <li><a class="fmenu_section" style="font-weight:normal;font-size: 1.1em;">Training</a></li>
                        <li><a href="https://training.mirantis.com/openstack-courses">OpenStack Courses</a></li>
                        <li><a href="https://training.mirantis.com/certification">Certification</a></li>
                        <li><a href="https://training.mirantis.com/online-virtual-training">Virtual Training</a></li>
                        <li><a href="https://training.mirantis.com/training/onsite.html">OnSite Training</a></li>
                        <li><a href="https://training.mirantis.com/online-resources">Training Resources</a></li>
                    </ul>
                </div>
                <div class="col-md-2 hidden-sm">
                    <ul>
                        <li><a class="fmenu_section" style="font-weight:normal;font-size: 1.1em;">Partners</a></li>
                        <li><a href="https://www.mirantis.com/partners/">Overview</a></li>
                        <li><a href="https://www.mirantis.com/partners/mirantis-unlocked-partner-solutions/">Partner list</a></li>
                        <li><a href="https://www.mirantis.com/partners/mirantis-channel-partners/">Channel Partners</a></li>
                        <li><a href="https://www.mirantis.com/partners/service-providers/">Service Providers</a></li>
                        <li><a href="https://training.mirantis.com/mirantis-training-partner-program-intro/">Training
                            Partners</a></li>
                        <li><a href="https://www.mirantis.com/partners/become-mirantis-technology-partner/">Become a Partner</a></li>
                    </ul>
                </div>
                <div class="col-md-3 hidden-sm">
                    <ul>
                        <li><a class="fmenu_section" style="font-weight:normal;font-size: 1.1em;">OpenStack Now</a></li>
                        <li><a href="https://www.mirantis.com/blog/">Blog</a></li>
                        <li><a href="https://www.mirantis.com/openstack/">News</a></li>
                        <li><a href="https://www.mirantis.com/openstack/tutorials/">Tutorials</a></li>
                        <li><a href="https://www.mirantis.com/openstack/news/community-news/">Community/Events</a></li>
                        <li><a href="http://online.mirantis.com/openstack-now-newsletter/">Subscribe</a></li>
                    </ul>
                </div>
                <div class="col-md-3 hidden-sm">
                    <ul>
                        <li><a class="fmenu_section" href="https://www.mirantis.com/company/about-pure-play-openstack/"
                               style="font-weight:normal;font-size: 1.1em;">Company</a></li>
                        <li><a href="https://online.mirantis.com/contact-us">Get In Touch</a></li>
                        <li><a href="https://www.mirantis.com/contact/">Locations</a></li>
                        <li><a href="https://www.mirantis.com/careers/">Careers</a></li>
                        <li><a href="https://www.mirantis.com/company/leadership/">Management</a></li>
                        <li><a href="https://www.mirantis.com/company/investors/">Investors</a></li>
                        <li><a href="https://www.mirantis.com/company/leadership/board-of-directors/">Board of Directors</a></li>
                        <li><a href="https://www.mirantis.com/company/press-center/info/">Press Center</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <div class="clear"></div>
    <div class="footer_copy">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-3 col-logo text-left-lg text-left-md text-left-sm text-center-xs">
                    <span class="mira_btm">Mirantis Inc.</span> <br>
                    <span class="pureplay_btm">Pure Play OpenStack.</span>
                </div>
                <div class="col-md-4 col-sm-5 col-copy text-center">
                    <span class="copy_btm">&copy; 2005 &mdash; 2015 Mirantis, Inc.<br><span
                            style="font-size: 10px; opacity:0.6;  line-height: 0.9em; display:inline-block;margin-top:5px; ">All rights reserved. "Mirantis" and "FUEL" are are registered trademarks of Mirantis, Inc. All other trademarks are the property of their respective owners.</span></span>
                </div>
                <div class="col-md-5 col-sm-4 col-address text-right-lg text-right-md text-right-sm text-center-xs">
<span class="mira_btm">615 National Avenue, Suite 100 Mountain View, CA 94043<br>
+1-650-963-9828</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-3 col-logo">
                </div>
                <div class="col-md-4 col-sm-4 cc">
                    <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/3.0/88x31.png"></a><br>This work is
                    licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/">Creative
                    Commons Attribution-ShareAlike 3.0 Unported License</a>.
                </div>
            </div>
        </div>
    </div>
</footer>
<div id="breadcrumb">
  <div class="container"><div class="row"><div class="col-xs-12"><span id="guide">You are reading: </span><span><a id="guide-href"></a></span><span class="sep">&gt;</span> <span id="guide-section"><a id="guide-section-href"></a></span></div></div></div>
</div>
<a href="#0" class="cd-top">Top</a>
<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id={{ theme_googletag }}"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','{{ theme_googletag }}');</script>
<!-- End Google Tag Manager -->
{% endblock %}