.. role:: normal

.. raw:: pdf

   Spacer 0 10cm

<?py if subtitle: ?>

.. cssclass:: subtitle

**#{subtitle}**

<?py #end ?>

.. raw:: pdf

   Spacer 0 1cm

<?py if title: ?>

.. cssclass:: title

#{title}

<?py #end ?>

.. raw:: pdf

   Spacer 0 3cm

.. raw:: pdf

   PageBreak oneColumn