/* For the MAIN MENU */
#main-menu {
	height:47px;
	margin-top:20px;
	text-align: right;
	position:relative;
	margin-right: -7px;
}
a.glink, a.glinksm {
    color: black;
    font-family: 'PT Sans Narrow','Arial Narrow',arial,sans-serif;
    font-size: 19px;
    padding: 5px 9px 9px 9px;
    white-space: nowrap;
	text-decoration:none;
	background-color: #ffffff;

}

a.glink:hover {
color:#d3301a;
background-color: #eaeff3; border-radius: 3px;
}

a.glinksm:hover {
	background: #e74c3c;
	color: white;
	box-shadow: 0px 2px 0px #cb4335;
	text-shadow: none;
}

.subglobalNav {
    color: black;
    position:absolute;
	font-family: 'PT Sans Narrow','Arial Narrow',arial,sans-serif;
	font-size: 14px;
    white-space: nowrap;
	text-decoration:none;
	//left:0px;
	padding-top: 5px;	
	line-height: 30px;
	min-height: 65px;
    z-index: 1;
}

.subglobal_vis  {background: #f4f7fa; border-radius: 3px;} 


.subglobalNav a{
    color: black;
	text-decoration:none;
	padding: 3px 7px 3px 7px;
	margin:0 6px 0 6px;
}
.subglobalNav a:hover {
    color: #fff;
	background: #CB2E19;
	-moz-border-radius: 2px;
	border-radius: 2px;
	margin:0 6px 0 6px;
	box-shadow: inset 1px 1px 1px #b12716;
	/*text-shadow: -1px -1px 0px #7F2114;*/
}
a.act {
    color:#d3301a !important;
}
a.act:hover {
    color: #fff  !important;
	background: #CB2E19;
}
a.active {
    color:#d3301a;
}
/* End of MAIN MENU */
